body {
  margin: 90px;
  text-align: center;
  height: 400px;
  background: linear-gradient(141deg, #536efe 0%, #798efe 31%, #a5b3fe 51%);
  font-family: Poppins-Medium;
}
input[type="text"],
input[type="password"] {
  font-size: 15px;
  line-height: 1.5;
  color: #666;
  display: block;
  width: 40%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 68px;
}
img {
  width: 300px;
  float: right;
}
button {
  background-color: #b112b1a4;
  color: #2f292f;
  font: bold;
  font-size: 15px;
  line-height: 1.5;
  text-transform: uppercase;
  width: 40%;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  transition: all 0.4s;
}

button:hover {
  opacity: 0.8;
}

.container2 {
  width: 960px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 177px 130px 33px 95px;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: #2c292f;
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: fit-content;
}
h1 {
  text-align: center;
  margin-bottom: 10%;
}
@media only screen and (max-width: 600px) /*responsive for phones*/ {
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  p {
    color: whitesmoke;
    padding-bottom: 10px;
  }
  img {
    width: 200px;
  }
  button {
    background-color: #2f292f;
    color: whitesmoke;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  button:hover {
    opacity: 0.8;
  }

  .container {
    padding: 6px;
  }

  .modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: #2c292f;
    padding-top: 60px;
  }

  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 70vw;
  }
}
